
.wapper
  .side-bar
    .header
      %h3.header_name
        アカウント名
      %ul.header_lists
        %li.list
          編集_1
        %li.list
          編集_2
    .groups
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
  .chat
    .header
      .left-header
        .left-heder__name
          グループ名
        %ul.left-header__members
          メンバー名
          %li.member
            メンバー
      .right-header
        .right-header__button
          Edit
      .messages
        .message
          .upper-message
            .upper-message__user-name
              メンバー
            .upper-message__date
              時間
          .lower-message
            .lower-message__content
              メッセージ
      .form
        %form
          %input.form_message
          .form__mask
            %label.form__mask__image
          %input.form__submit{type: "submit", value: "Send"}





