
.wapper
  .side-bar
    .header
      %h3.header_name
        アカウント名
      %ul.header_lists
        %li.list
          今のグループ名？
          %i.fa.fa-pencil-square-o.icon
        %li.list
          ユーザー名？
          %i.fa.fa-cog.icon
    .groups
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
  .chat
    .header
      .left-header
        .left-heder__title
          タイトル名
        %ul.left-header__members
          メンバー名
          %li.member
            メンバー
      .right-header
        .right-header__button
          Edit
    .messages.js-messages
    .form
      %form.js-form
        .form_mask
          %label.form_mask_image
      / %form{:name => utf8, :type => hidden, :value => "✓"}
      /   %input.form_message

      /   .form__mask
      /   %input{type: "submit", value: "Send"}


