$white: #AAAAAA;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light-blue: #38AEF0;
$font-color_left-header: #FFFFFF;
$font-color-member_and_deta: #999999;
$font-chat-color: #434A54;

$side_bar_title: 16px;
$side_bar_name: 15px;
$side_bar_text: 11px;




.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    padding: 0 20px;
    &_name {
      display: inline-block;
      font-size: $side_bar_title;
      font-weight: bold;
    .header_lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
    }
    }
    }
    }

  .groups {
    background-color: $side_blue_light;
    height: calc(100% - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &_name {
        font-size:  $side_bar_name;
      .group_message {
        font-size: $side_bar_text;
        margin-top: 5px;
      }
      }
      }
      }

.chat {
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    border: #eeeeee;
    .left-header {
      float: left;
      .left-header_title {
        color: $side_bar_title;
        margin: 35px 0 15px 0;
        font-size: 20px;
      .left-header_members {
        color: $font-chat-color;
        font-size: $side_bar_title;
        font-weight: bold;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
        }
        }
    .right-header {
      border: 1px solid $side_blue_light;
      color: $side_blue_light;
      float: right;
      height: 40px;
      line-height:  40px;
      margin: 20px;
      padding: 0 20px;
    }
    }
  }
}


